/* 左タイトル */
.navbar-brand a {
  color: #ffffff;
}

/* navbar 全体の背景色とボーダーカラー */
.navbar-default {
background-color: #db7093;
border-color: #2f4f4f;
}

/* navbar テキストカラー */
.navbar-default .navbar-nav > li > a {
  color: #660a47;
}

/* navbar hover,focus時のテキストカラー */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #ffffff;
background-color: transparent;
}

/* navbar ハンバーガー三本線 */
.navbar-default .navbar-toggle .icon-bar {
background-color: #660a47;
}


/* navbar active設定時のカラー */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
color: #ffffff;
background-color: #ffffff;
}

/* navbar 画面サイズ767px以下の時のカラー */
@media (max-width:767px) {
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #26534c;
background-color: transparent;
}
}   /*  エラー対応    */

body{
    margin: 0;         /* 余白の削除 */
    padding: 10px;        /* 余白の削除 */
    height:100%;
    left: 20px;                  /* 位置(左0px) */
    right:20px;                  /* 位置(右0px) */
    background-color: #ffffff ;
}

/* ヘッダーの固定 */
head{
  	background-color:#ff69b4;     
/*    position: fixed;            /* ヘッダーの固定 */
    top: 0px;                   /* 位置(上0px) */
    left: 5px;                  /* 位置(左0px) */
    right:5px;                  /* 位置(右0px) */

    width: 100%;                /* 横幅100%　*/
    height: 140px;            /* 縦幅140px */
	margin: auto;              /* 中央揃え */
}


/* ナビ固定時のbodyの余白 */
.fix-body {
  margin-bottom: 100px;
  margin-top: 60px;
  margin-right: auto;
  margin-left : auto;
	height: 100%; 
}

/* フッターの固定 */
footer
      {
  	background-color:#e9967a;     
    position: fixed;            /* フッターの固定 */
    bottom: 0px;                /* 位置(下0px) */
    left: 0px;                  /* 位置(左0px) */
    width: 100%;                /* 横幅100%　*/
    height: 70px;              /* 縦幅140px */
  	margin: auto;              /* 中央揃え */
    padding: 20px 0 10px 0;
    color: white;
    font-size: 12px;
  
}


/* labelとradioボタン or labelが隣り合ってる場合にradio or labelの左に余白を付ける
label + input[type="radio"],
label + label {
    margin-left: 8em;
}  